<div class="container-fluid">
  <h1><%= @list.name %></h1>
</div>
<% @list.bookmarks.each do |bookmark|%>
  <ul>
    <p><%= bookmark.comment %></p>
    <p><%= bookmark.movie.title %></p>
    <li class="list-group-item">
      <%= link_to "Delete", bookmark_path(bookmark), class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </li>
  </ul>
<% end %>
<div><%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-blue" %></div>
</div>
